<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :directions %><br />
    <%= f.text_field :directions %>
  </div>
  <div class="field">
    <%= f.label :prep_time %><br />
    <%= f.number_field :prep_time %>
  </div>
  <div class="field">
    <%= f.label :cook_time %><br />
    <%= f.number_field :cook_time %>
  </div>

  <!-- Ingredients for recipe	
	TODO: create interface for adding ingredients to a recipe ( i think this should be an ajax call to a json route in the recipe controller )
	-->
  <table>
	<h2>Ingredients</h2>
  	<thead>
  		<tr>
			<td></td>
			<td><%= f.label "Quantity:" %></td>
  		</tr>
  	</thead>
	<tbody>
		<%= f.fields_for :ingredients do |ingredient| %>
			<%= render 'ingredients/ingredient_form', :ingredient_form => ingredient %>
		<% end %>
		<script id="empty_ingredient_form">
			<%= f.fields_for :ingredients, @recipe.ingredients.build do |ingredient| %>
				<%= render 'ingredients/ingredient_form', :ingredient_form => ingredient %>
			<% end %>
		</script>
		<!-- <%# for ingredient in @recipe.ingredients %>
			<tr>
				<td>
					<%#= h ingredient.food.name %>
				</td>
			
				<td>
					<%#= number_field_tag :measurement, :value => ingredient.measurement %>
				</td>
			</tr>
			<%# end %>
			 -->
	</tbody>
	
  </table>
  		
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
