<h1>Listing recipes</h1>

<ul>
	<% @recipes.each do |recipe| %>
	<li>
 		<p>
			<%= link_to recipe.name, recipe_url(recipe) %> <br />
			<%= recipe.prep_time.present? ? recipe.prep_time : "None"  %> | <%= recipe.cook_time.present? ? recipe.cook_time : "None" %> 
		</p>
		<%= link_to 'Show', recipe %> | <%= link_to 'Edit', edit_recipe_path(recipe) %> | <%= link_to 'Destroy', recipe, confirm: 'Are you sure?', method: :delete %>
	</li>
	<% end %>
  
	<%= link_to 'New Recipe', new_recipe_path %>
</ul>

